{% extends 'base.html' %}

{% block content %}
    <main>
    <h1>Pymote backend server</h1>
    <h2>REST API endpoints</h2>
    <details class="endpoint post">
        <summary>[POST] /api/upload_network</summary>
        <ul>
            <li>Creates new session which is always linked to one network</li>
            <li>
                <b>Request (form data):</b><br>
                <pre>{
    file: binary
}</pre>
            </li>
            <li>
                <b>Response (JSON):</b><br>
                <pre>{
    algorithms: {},
    nodes: [{
        info: {
            id: number,
            status: string,
            position: [number, number],
            orientation: number
        },
        communication: {
            outbox: {},
            range: number,
            inbox: {}
        },
        sensors: {},
        memory: {}
    }],
    algorithmState: {
        step: number,
        finished: boolean,
        name: string
    },
    links: [{
        source: number,
        target: number,
        weight: number
    }],
    currentAlgorithm: {
        statusKeys: string[]
    }
}</pre>
            </li>
        </ul>
    </details>
    <details class="endpoint post">
        <summary>[POST] /api/simulation_action</summary>
        <ul>
            <li>Manipulates the simulation of the current network</li>
            <li>
                <b>Request (JSON):</b><br>
                <pre>{
    action: "run" || "step" || "reset"
}</pre>
            </li>
            <li>
                <b>Response (JSON):</b><br>
                <pre>{
    algorithms: {},
    nodes: [{
        info: {
            id: number,
            status: string,
            position: [number, number],
            orientation: number
        },
        communication: {
            outbox: {},
            range: number,
            inbox: {}
        },
        sensors: {},
        memory: {}
    }],
    algorithmState: {
        step: number,
        finished: boolean,
        name: string
    },
    links: [{
        source: number,
        target: number,
        weight: number
    }],
    currentAlgorithm: {
        statusKeys: string[]
    }
}</pre>
            </li>
        </ul>
    </details>
    </main>
{% endblock %}
