{% extends 'base.html' %}

{% block content %}
    <main>
    <form enctype="multipart/form-data" method="post"
          action={% url 'upload_network' %}>
        {% csrf_token %}
        <div>
            <label for="file">
                Load pickle
            </label>
            <input id="file" name="file" type="file"
               onchange="document.getElementById('file-label').innerHTML =
               document.getElementById('file').files[0].name"/>
            <span id="file-label"></span>
        </div>

        <button type="submit">Upload</button>
    </form>
    {% if image %}
        <img src="{{ image }}" alt="Network graph">
    {% endif %}
    </main>
{% endblock %}
