<header class="toolbar">
  <app-upload-button (updateNetwork)="updateNetwork($event)"></app-upload-button>
  <app-simulation-button *ngFor="let button of simulationButtons"
    (updateNetwork)="updateNetwork($event)"
    [action]="button.action"
    [icon]="button.icon"
  ></app-simulation-button>
</header>

<main>
  <app-network-graph
    [network]="network"
    (selectNode)="selectNode($event)">
  </app-network-graph>
  <section>
    <app-network-inspector [network]="network"></app-network-inspector>
    <app-node-inspector [node]="selectedNode"></app-node-inspector>
  </section>
</main>
