header, main {
  margin: 0 50px;
}

header {
  padding-top: 50px;
}

main {
  margin-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  app-network-graph {
    flex-grow: 1;
    max-width: 500px;
  }

  section > *:not(:last-child) {
    display: block;
    margin-bottom: 10px;
  }
}
