* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.endpoint {
    border-radius: 6px;
    margin-bottom: 10px;
}

.endpoint.get {
    background: #bcd9fa;
    border: 2px solid #78adea;
}
.endpoint.post {
    background: #bcfad4;
    border: 2px solid #8cdbab;
}

summary, pre {
    font-family: monospace;
}
summary {
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}
summary::-webkit-details-marker, summary::marker {
    margin-right: 15px;
}

details ul li {
    margin-bottom: 10px;
    font-size: 14px;
}
