@use '@angular/material' as mat;

$primary-palette: mat.$indigo-palette;
$accent-theme: mat.$pink-palette;
$warn-theme: mat.$red-palette;

$mat-primary: map-get($primary-palette, 500);
$mat-accent: map-get($accent-theme, 500);
$mat-warn: map-get($warn-theme, 500);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.icon-button {
  min-width: 36px;
  padding: 0;

  &.mat-button-disabled {
    background-color: map-get($primary-palette, 300) !important;
    pointer-events: none;
  }

  .mat-button-wrapper, .mat-button-wrapper label {
    position: relative;
    display: block;
    height: 36px;
  }

  label { cursor: pointer; }

  .mat-icon, .mat-spinner  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    margin: 0;
    circle { stroke: #ffffff; }
  }
}

.snackbar-error {
  background-color: $mat-warn;
  .mat-button { color: #ffffff; }
}
