<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Controls</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Step size</mat-label>
      <input matInput
             type="number"
             min="1"
             [ngModelOptions]="{standalone: true}"
             [(ngModel)]="controlsService.controls.steps"
      >
      <mat-error>Step size must be greater than 0</mat-error>
    </mat-form-field>

    <mat-divider inset></mat-divider>

    <mat-checkbox id="nodes"
                  color="primary"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="controlsService.controls.nodes"
    >Nodes</mat-checkbox>
    <mat-checkbox id="edges"
                  color="primary"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="controlsService.controls.edges"
    >Edges</mat-checkbox>
    <mat-checkbox id="messages"
                  color="primary"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="controlsService.controls.messages"
    >Messages</mat-checkbox>
    <mat-checkbox id="labels"
                  color="primary"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="controlsService.controls.labels"
    >Labels</mat-checkbox>

    <mat-divider inset></mat-divider>

    <mat-checkbox id="tree"
                  color="primary"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="controlsService.controls.tree"
    >Tree</mat-checkbox>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Key</mat-label>
        <input matInput
               [disabled]="!controlsService.controls.tree"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="controlsService.controls.treeKey">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
